<% provide(:title, "About Us") %>
<h1>About University 31</h1>
<p> University 31 is a ministry for women desiring to be Godly mothers, wives, and daughters. This site is designed to be a gathering place for christian women of all denominations where they can practice the command of Paul from Titus 2:3-5 "Older women likewise are to exhibit behavior fitting for those who are holy, not slandering, not slaves to excessive drinking, but teaching what is good. In this way they will train the younger women to love their husbands, to love their children, to be self-controlled, pure, fulfilling their duties at home, kind, being subject to their own husbands, so that the message of God may not be discredited." </p>
<p> Our goal is to be a safe haven for women who are earnestly wanting to be the model Proverbs 31 woman and are looking to other women on how to do that. You will find here many things that are designed to help you as you learn. We have forums where you can post your questions and share your advice, a library where you can share books that have touched you and helped you learn and much more. </p>
<p>We hope that as you strive to be a better woman you look around and see the others who are like wise striving so you can share your knowledge and bless those around you. </p>
<p> May God bless your studies.</p>
<p> - The Dean </p>
