<h1> The Library's Rules. </h1>
<h3> Library's are known for several things, quiet, having lots of books but not having what you want, and having librarians who are uptight individuals who say, Shhhhhh a lot.
<br />
<br />
Well let me first say our library is far from quiet! At least we hope it is. Our library is not where you can check out books and get fined if you forget to bring it back on time. Actually we don't even have books here. What we do have is a comunity of people who are sharing what they think of each book. (See, not quiet at all.) We hope that you enjoy sharing your experiences with books with other women who are trying to learn how to be more godly women.
<br /><br />
Second off our library doesn't have EVERYTHING you want and that's ok. This is not Amazon where you can discuss the latest teen fiction book that is being made into a movie. Please keep the library free of clutter buy adding books that are relevant to the topic. That being said, it does has everything that you could ever want because if it doesn't you can just add it! That's right, we've put our library's budget in your hands. Just add a book by going to the author's page and clicking on "Add book" What you've found an author that we don't have yet. Ok go to the author listing and click "Add Author." (We're trying to make this difficult.) Last but not least we come to the best part of the library. You read the book and want to share what you thought of it, great. Go to the book's listing and write a review. Don't forget to add a rating to it. This will help anyone considering wether they should read the book or not if they want to read it or not.
<br /><br />
Finally our librarian. She's really a nice gal but unfortunately she does occationally have to say, "Shh." If there are offensive reviews or books that don't relate to the topic she does have the authority to remove them from the library. Some may call this censorship but we are trying to promote a library that is free of distraction and a warm place where everyone can come and learn.
<br /><br />
Thank you for enjoying our library,<br />
- The Dean
<h3>
