<% provide(:title, 'All Topics') %>
<h1>Topics List</h1>

<% link_to "List a new topic", new_topic_path, class: "btn btn-large btn-primary" %>
<ul class="users">
  <% @topics.each do |topic| %>
    <li>
      <%= link_to topic.name, topic %> 
      <% if topic.questions.any? %>
        <h5> This topic has <%= pluralize(topic.questions.count, "question") %> 
        </h5>
      <% else %>
        <h5> This topic has no questions </h5>
      <% end %>
    </li>
  <% end %>
</ul>

   
