<% provide(:title, 'Authors page') %>
<h1>The Author List </h1>
<%= link_to "List a new Author", new_author_path, class: "btn btn-large btn-primary" %>
<%= will_paginate %>
  <ul class="users">
    <%= render @authors %> 
  </ul>

<%= will_paginate %>

