<% provide(:title, 'All Books') %>
<h1>Books List</h1>

<% link_to "List a new book", new_book_path, class: "btn btn-large btn-primary" %>
<ul class="users">
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %> by: 
      <%= book.author.afull_name %>,
      <%= link_to book.author.afull_name, author_path(book.author) %>
      <br />
      <h5> This book has been reviewed
      <%= pluralize(book.reviews.count, "times") %>.
      </h5>
    </li>
  <% end %>
</ul>

   
